<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ page_title }}</title>
<script type="text/javascript">
	let learn_url = "{{learn_url}}";
	let token = "{{token}}";
	let launch_url = 'https://ask-an-expert.herokuapp.com/renderform/';
	let content_ids = "{{content_ids}}";
	let course_ids = "{{course_ids}}";
</script>
<script type="application/javascript" src="/static/integration.js"></script>
</head>
<body>
	Integration has loaded. This content will not be visible to the end-user
</body>
</html>