<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ page_title }}</title>
</head>
<body>

    <a id="collab" href="{{collab_url}}" target="_blank"></a>
    <script>
         // open after 1 seconds
        setTimeout(() => document.getElementById('collab').click(), 1000);
        
        value = {
            type: 'portal:panel:close'
        }
        console.log('set local storage to "event" : { "type" : "portal:panel:close" }')

        localStorage.setItem('event', JSON.stringify(value));

        console.log("localstorage set")

    </script>
</body>
</html>